body {
    font-family: Inter, sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Bebas Neue;
    font-size: 40px;
}

.header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.tab {
    overflow: hidden;
    border: none;
    background-color: #1abc9c;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: #31dcc2;
    font-size: 30px;
    font-family: Bebas Neue;
    width: 40vh;
    color: white;
/*    float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 60px;
    border-radius: 20px;
    transition: 0.3s;
    margin: 6px 6px 0 6px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border-radius: 20px;
    background-color: #1b6c58;
}

/* Create an active/current tablink class */
.tab button.active {
    border-radius: 20px 20px 0 0;
    color: #000000;
    background-color: #ffffff;
    height: 80px;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
